.custom-margin-left {
    margin-left: 15%; /* Replace 25% with your desired percentage value */
  }
  
  .custom-margin-left-m {
    margin-left: 8%; /* Replace 25% with your desired percentage value */
  }

  .custom-margin-left-s {
    margin-left: 5%; /* Replace 25% with your desired percentage value */
  }

  .custom-w
  {
    width: 98%
  }