<div class="w-1/2 shadow-lg">
  <div class="bg-gray-100 p-4">
    <h3 class="pl-3 pt-3 text-slate-700 ">Events</h3>
    <div class="bg-white p-2">
        <button (click)="openDialog()" class="bg-blue-500 text-white px-4 py-2 rounded-md">+Add Event</button>
    </div>
      
    <div class="bg-white p-4 mt-3">
        <table class="w-full">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left">2022</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">John Doe</td>
              <td class="border px-4 py-2">25</td>
              <td class="border px-4 py-2">john.doe@example.com</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Jane Smith</td>
              <td class="border px-4 py-2">30</td>
              <td class="border px-4 py-2">jane.smith@example.com</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Bob Johnson</td>
              <td class="border px-4 py-2">35</td>
              <td class="border px-4 py-2">bob.johnson@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      
  </div>
</div>
