<div class="fixed top-0 left-0 w-44 bg-slate-800 h-screen">
  <!-- Logo Insertion -->
  <div>
    <img
      class="w-1/2 pt-2 pl-4"
      src="../../assets/images/NonProfitLogoJustLogo.png"
    />
  </div>
  <ul class="flex flex-col w-full mt-32">
    <li class="box-content pt-2 pb-2 border-t-2 border-b-2 border-slate-700">
      <a class="p-2 text-white" href="#">My Profile</a>
    </li>
    <li class="box-content pt-2 pb-2 border-b-2 border-blue-400">
      <a class="p-2 text-white" href="#">Dashboard</a>
    </li>
    <li class="box-content pt-2 pb-2 border-b-2 border-blue-400">
      <a class="p-2 text-white" href="#">Log Out</a>
    </li>
    <!-- Add more list items as needed -->
  </ul>
</div>
