<div class="fixed top-0 left-0 w-44 bg-slate-800 h-screen">
  <!-- Logo Insertion -->
  <div>
    <img
      class="w-1/2 pt-2 pl-4"
      src="../../assets/images/NonProfitLogoJustLogo.png"
    />
  </div>
  <ul class="flex flex-col w-full mt-32">
    <li
      class="flex items-center pt-2 pl-2 pb-2 border-t-2 border-b-2 border-slate-700"
    >
      <mat-icon class="text-white">person</mat-icon>
      <a class="p-2 text-white" href="/profile-settings">My Profile</a>
    </li>
    <li class="flex items-center pt-2 pl-2 pb-2 border-b-2 border-slate-700">
      <mat-icon class="text-white">home</mat-icon>
      <a class="p-2 text-white" href="/dashboard">Dashboard</a>
    </li>
    <li class="flex items-center pt-2 pl-2 pb-2 border-b-2 border-slate-700">
      <mat-icon class="text-white">events</mat-icon>
      <a class="p-2 text-white" href="#">Events</a>
    </li>
    <li class="flex items-center pt-2 pl-2 pb-2 border-b-2 border-slate-700">
      <mat-icon class="text-white">logout</mat-icon>
      <a class="p-2 text-white" routerLink="/login">Log Out</a>
    </li>
    <!-- Add more list items as needed -->
  </ul>
</div>
